[Desktop Entry]
Encoding=UTF-8
Name=Mushroom Roulette 640x480
Exec=mushroomroulette 2
Icon=${SNAP}/meta/gui/mushroomroulette.png
Terminal=false
StartupNotify=true
StartupWMClass=Mushroom Roulette.exe
Type=Application
Categories=Application;Game;ArcadeGame;
